/*

I am going with an Orange color design overall. "It means cheerfulness and creativity. Orange can be associated with friendliness, confidence, and courage." I think the latter three qualities are especially suited for language learning, so I am going to give each language's chart an orange design. The type of orange will vary by language. 

English:

+5: eead9d
+1: e47c63
Base Color - Orangeville: e17055
-1: de6447
-5: bf4022

Chinese: 

+5: ffc357
+1: ffab13
Base color - Orange: ffa502
-1: f09b00
-5: ac6f00

*/



/* --------------------------------- */
/* BASIC SETUP */
/* --------------------------------- */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* --------------------------------- */
/*HEADER */
/* --------------------------------- */
header{
    margin:1em;
    padding:.2em;
}

/* --------------------------------- */
/*HEADINGS */
/* --------------------------------- */

h1,h2{
    text-align: center;
}

/* --------------------------------- */
/*TOOL TIPS */
/* --------------------------------- */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* --------------------------------- */
/*TABLES */
/* --------------------------------- */

table{
    border-collapse: collapse;
}

table th,td{
    font-size:25px;
    width:200px;
    height:auto;
    border: solid black 1px;
}

table th{
    background-color:#06dba4;
}

table td{
    background-color:#c7f7ea;
    text-align: center;
}


/*Centers symbols under the three-column spanning alveolar section*/
.center{
    text-align: center;
}

/* --------------------------------- */
/*LANGUAGE OPTIONS SECTION */
/* --------------------------------- */
.language-option-section{
    text-align: center;
    margin:1em;
    padding:.2em;
}

.language-option{
    display:inline-block;
    margin-right:20px;
}


/* --------------------------------- */
/*VOWELS SECTION */
/* --------------------------------- */

.vowels-table{
    margin:20px;
}


/* --------------------------------- */
/*CONSONANTS SECTION */
/* --------------------------------- */

.consonants-table{
    margin:20px;
}




























